/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
    height: 50px;
    width: 100%;
    background-color: #ff9a4b;
    position: fixed;
  
    display: flex;
    align-items: center;
  }
.header-box {
    text-align: center;
    padding: 10px 0;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.left-side{
    margin: 0; 
    padding: 0;
    font-size: 20px;
}

.right-side {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 14px;
    
}
